nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href="#") 
    .nav.navbar-nav.navbar-right
      li
        a(href="#section_ask") 引言 INTRO
      li
        a(href="#section_about") 年度最佳設計
      li
        a(href="#section_video") 影片 VIDEO
      li
        a(href="https://www.behance.net/gallery/73325301/Nature-Knows" target="_blank") BHEIND THE SCENE
header.jumbotron
  .container
   h1 2 0 1 8 金 點 設 計 展 
   hr
   h4  Golden Pin Design Award 2018 EXHIBITION.
section#section_ask
  .container
    .row  
      .col-sm-5.img
      .col-sm-7
           h2 2018 年度最佳設計
section#section_about
  .container
    .row
      .col-sm-4
       img(src="https://goo.gl/KB9qiP", alt="")
       h3 華康金剛黑
       p 華康金剛黑是專為小螢幕而生的黑體字型，著重行動裝置顯示的清晰度，以簡約風格省略贅筆、增加留白，使閱讀如呼吸般舒適自在。全套字型6種字重、支援14種語種，能滿足廣泛數位版面及多語系需求，完美展演各種訊息維度。
      .col-sm-4
       img(src="https://goo.gl/Zu6hsM", alt="")
       h3 線性桌燈
       p Linear Task Light採最高規格、無段調節亮度並具記憶功能的LED光源，兼具輕便、穩定、簡約等特性，適合現代家居、旅館等新潮的空間搭配。
      .col-sm-4
       img(src="https://goo.gl/V5ySpS", alt="")
       h3 PULITO STATO_生活家用海綿系列
       p PULITO STATO來自義大利文，有清潔之意。從小動物及諺語故事出發，將趣味融入看似普通平凡的生活用品，為你的生活加點色彩，讓做家事不再是苦悶事！
section#section_video
  .container
    .row
      .col-sm-12
      h1 Nature Knows 自然知道
      hr
    .col-sm-12
      .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(src='https://player.vimeo.com/video/303986923?title=0&byline=0&portrait=0' , allowfullscreen='' )
